<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/landing_page.css">
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
      <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
          <!-- Registration form start -->
          <form>
            <div class="card-content">
              <span class="card-title">Register for Black Execs!</span>
              <div class="row">
                <div class="input-field col s12">
                  <label for="email">First Name</label>
                  <input type="text" class="validate" name="email" id="email" />
                </div>
                <div class="input-field col s12">
                  <label for="password">Last Name </label>
                  <input type="text" class="validate" name="password" id="password" />
                </div>
                <div class="input-field col s12">
                  <label for="password">Email </label>
                  <input type="email" class="validate" name="password" id="password" />
                </div>
                <div class="input-field col s12">
                  <label for="password">Password </label>
                  <input type="password" class="validate" name="password" id="password" />
                </div>
              </div>
            </div>
            <div class=" card-action center-align"><input type="submit" class="btn orange waves-effect waves-light" value="Register"></div>
            <div class="card-action center-align">
              Already a member? <a href="">Sign in.</a>  
            </div>
          </form>
          <!-- Registration form end -->
        </div>
      </div>    
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>         
      <script src="" async defer></script>
    </body>
</html>