<!DOCTYPE html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/payment.css">
    </head>
    <body>
        <div class="row">
            <div class="col s8 blue darken-3"></div>
            <div class="col s4 ">
                <div class=" login-box">
                    <div class="col s12 right-align">
                        <form>
                            <div class="card-content center-align">
                            <span class="card-title">Payment Information</span>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="email">Cardholder numer</label>
                                            <input type="text" class="validate" name="email" id="email" />
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="email">Cardholder</label>
                                            <input type="text" class="validate" name="email" id="email" />
                                        </div>
                                        <div class="input-field col s12">
                                            <label for="password">Expiry Month</label>
                                            <input type="text" class="validate" name="password" id="password" />
                                        </div>
                                        <div class="input-field col s6">
                                            <label for="password">Expiry year </label>
                                            <input type="text" class="validate" name="password"  id="password" />
                                        </div>
                                        <div class="input-field col s6">
                                            <label for="ccv">CCV </label>
                                            <input type="text" class="validate" name="password" id="password"/>
                                        </div>
                                    </div>
                                </div>
                            <div class="card-action center-align">
                                <input type="submit" class="btn blue darken-4 waves-effect waves-light" value="Submit Payment">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
</body>
</html>