<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Plan Options</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/plan_options.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:300&display=swap" rel="stylesheet">    
   </head>
   <body>
        <div class="row blue-grey top-header">
            <div class="col s12 m10 "></div>
            <h1 class="top-head-title">Business Made Easy</h1>
            <a class="waves-effect waves-light btn-large">Get Started</a>     
        </div>
        <div class="row container grey lighten-2">
            <div class="pick-plan">                 
            <h3 class="center-align">Pick the plan that's right for you!</h3>
        </div>
        <div class="col s4">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-panel hoverable">
                        <div class="card-image">
                            <span class="card-title">Essentials</span>
                        </div>
                        <div class="card-content">
                            <span class="price">$41.50 </span>
                            <span class="unit">/month</span>
                            <p>
                                <span class="time-span"> $xxx.xx
                                    <span class="unit-2">/6 mo</span>
                                </span><br>
                                <span>save $xx.xx</span><br>
                                <br><span class="time-span">$xxxxxx
                                <span class="unit-2">/yr</span>
                                </span><br>
                                <span> save $xx.xx</span></p>
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-panel hoverable">
                        <div class="card-image">
                            <span class="card-title">Standard</span>
                        </div>
                        <div class="card-content">
                            <span class="price">$105.20 </span><span class="unit">/month</span><p><span class="time-span">$617.70<span class="unit-2">/6 mo</span><br><span> save $13.50</span> <p><span class="time-span"> $1,235.70</span><span class="unit-2">/yr</span> <br><span> save $27.30</span></p></p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-panel hoverable">
                        <div class="card-image">
                            <span class="card-title">Premium</span>
                        </div>
                        <div class="card-content">
                            <span class="price">
                                $360.45 
                            </span>
                            <span class="unit">
                                /month
                            </span>
                            <p>
                                <span class="time-span"> $2,149.20 
                                    <span class="unit-2">
                                        /6 mo
                                    </span>
                                </span><br>
                                <span> save $13.50</span> 
                                <p>
                                    <span class="time-span">$4,298.10
                                        <span class="unit-2">/yr</span>
                                    </span><br>
                                    <span> save $27.30</span>
                                </p>
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> 
    <script src="" async defer></script>
    </body>
</html>